In [1]:
import pandas as pd
import json
import numpy as np

with open('data.json', 'r', encoding='utf-8') as json_data:
    data = json.load(json_data)

normalized_data = []

for key, value in data.items():
    user_id = key
    info = value.get('info', [{}])[0]  
    groups = value.get('groups', [])
    if not groups:
        record = {**info, 'id': user_id}
        normalized_data.append(record)
        continue
    for group in groups:
        record = {**info, **group, 'id': user_id, 'group_id': group['id']}
        normalized_data.append(record)

df = pd.DataFrame(normalized_data)

In [2]:
df.head()

,id,first_name,last_name,can_access_closed,is_closed,deactivated,name,screen_name,type,photo_50,photo_100,photo_200,group_id
0,114668685,Alexey,Dozorov,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,64172662,Alexander,Antonnikov,True,False,deleted,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,256740,Mikhail,Podgorny,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,118465737,Renat,Khakimov,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90084913,Anna,Solovskaya,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.drop(['photo_50', 'photo_100', 'photo_200', 'deactivated', 'can_access_closed', 'is_closed'], axis=1)

In [4]:
df

,id,first_name,last_name,name,screen_name,type,group_id
0,114668685,Alexey,Dozorov,NaN,NaN,NaN,NaN
1,64172662,Alexander,Antonnikov,NaN,NaN,NaN,NaN
2,256740,Mikhail,Podgorny,NaN,NaN,NaN,NaN
3,118465737,Renat,Khakimov,NaN,NaN,NaN,NaN
4,90084913,Anna,Solovskaya,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
365358,794082984,Marina,Manerova,Путь к себе. Эзотерика.,prosnis24,page,46558304.0
365359,794082984,Marina,Manerova,Новости | Саранск City | Republic of Mordovia,gorod_saransk,page,36809318.0
365360,794082984,Marina,Manerova,САРАНСК Онлайн,rmsar,page,60178575.0
365361,794082984,Marina,Manerova,10 канал,10tvrm,page,70336234.0
365362,794082984,Marina,Manerova,«Столица С»,stolica_s,page,38801259.0

In [5]:
df['group_id'] = df['group_id'].astype(float).astype('Int64')

In [9]:
df.rename(columns={'name':'group_name', 'screen_name': 'group_screen_name', 'type': 'group_type', 'id': 'user_id', 'first_name': 'user_first_name', 'last_name': 'user_last_name'}, inplace=True)

In [10]:
df

,user_id,user_first_name,user_last_name,group_name,group_screen_name,group_type,group_id
0,114668685,Alexey,Dozorov,NaN,NaN,NaN,<NA>
1,64172662,Alexander,Antonnikov,NaN,NaN,NaN,<NA>
2,256740,Mikhail,Podgorny,NaN,NaN,NaN,<NA>
3,118465737,Renat,Khakimov,NaN,NaN,NaN,<NA>
4,90084913,Anna,Solovskaya,NaN,NaN,NaN,<NA>
...,...,...,...,...,...,...,...
365358,794082984,Marina,Manerova,Путь к себе. Эзотерика.,prosnis24,page,46558304
365359,794082984,Marina,Manerova,Новости | Саранск City | Republic of Mordovia,gorod_saransk,page,36809318
365360,794082984,Marina,Manerova,САРАНСК Онлайн,rmsar,page,60178575
365361,794082984,Marina,Manerova,10 канал,10tvrm,page,70336234
365362,794082984,Marina,Manerova,«Столица С»,stolica_s,page,38801259